* {
    margin: 0;
    padding: 0;
}

body {
    background:#f8f8f8;
}

.menuItem {
    color: blue;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin:10px;
    padding: 10px;

}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

#item-short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;

}

#item-full-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align:left;
}


.red {
    color: red;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 300px;
}

#image-logo {
    border: medium;
    float: left;
}

a:hover {
    color: deepskyblue;
}

#table1,#table1 td {
    border: 1px solid black;

}

#table1 {
    width: 200px;
}

#table1 td {
    height: 50px;
    width: 25px;
    padding: 3px 5px;
    text-align: center;
    vertical-align: bottom;
}
#email:hover {
    background: gray;
    color: blue;
}

.red:focus {
    text-transform: capitalize;
}


.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.header {
    border: 1px solid black;
    height: 100px;
    background: lightsteelblue;

}

.footer {
    border: 1px solid black;
    height: 100px;
    background: rosybrown;
    text-align: right;
    padding: 20px;

}

.content {
    height: 400px;
}

.picture {
    float: right;
}

.catalog {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
